<form>
    <!--<span *ngIf="query">Search for: {{ query }}</span>-->
    <input #search id="searchfield" type="text" placeholder="Type in employee name"
           [(ngModel)]="query"
    >
    <!--(keyup)="getEmployee($event.target.value)"-->
    <ul id="employee-list" *ngIf="search.value !=''">
        <li *ngFor="#employee of employees"
            (click)="getEmployees($event.target.value)">
            <h3>{{ employee.title }} {{ employee.firstName }} {{ employee.surname }}</h3>
        </li>
    </ul>
</form>