<input #search id="searchfield" type="text" placeholder="Type in employee name"
       [(ngModel)]="query"
       (input)="employeeListExpanded=true"
>

<div *ngIf="employee">
    <h1>{{ employee.name }}</h1>
</div>

<input (input)="getEmployeeById($event.target.value)" type="text" placeholder="enter specific id (1 - 30)">
<template [ngIf]="search.value!=''">
    <ul id="employee-list" *ngIf="employeeListExpanded;">
        <li *ngFor="#employee of (employees) | filter:query"
            (click)="employeeSelected=true; employeeListExpanded=false; ouputSelectedEmployee(employee.id)"
            (keyup.enter)="employeeSelected=true; employeeListExpanded=false; ouputSelectedEmployee(employee.id)">
            <h3 class="employee">{{ employee.title }} {{ employee.firstName }} {{ employee.surname }}</h3>
        </li>
    </ul>
</template>
<section id="selected-employees" *ngIf="employeeSelected">
    <ul id="selected-employees-list">
        <li *ngFor="#selectedEmployee of selectedEmployees">
            <h3>{{ selectedEmployee.title }} {{ selectedEmployee.firstName }} {{ selectedEmployee.surname }}, {{
                selectedEmployee.age }}</h3>
            <br> 
            <h4>born on {{ selectedEmployee.DOB }}</h4>
            <br>
            <h4>Base salary: {{ selectedEmployee.salary }}</h4>
            <h4>Income Tax: {{ selectedEmployee.incomeTax }}</h4>
            <h4>National insurance: {{ selectedEmployee.nationalInsurance }}</h4>
            <h4 class="takes-home">Takes Home: {{ selectedEmployee.takeHome }}</h4>
        </li>
    </ul>
</section>
