form {
    text-align:                 center;
    background-color:           #fff;
}

form > input {
    position:                   relative;
    top:                        30px;
}

ul {
    position:                   relative;
    top:                        40px;
    margin:                     0 auto;
    width:                      300px;
    list-style:                 none;
}

ul > li {
    border-bottom:              1px solid #d3d3d3;
}

ul > li > h3 {
    font-size:                  1em;
}